spring:
  application:
    name: store-api
  profiles:
    active: dev
  cloud:
    config:
      label: master
      profile: dev
      uri: http://localhost:8888

  config:
    import: optional:configserver:http://localhost:8888


  eureka: # eureka client 등록
    instance:
      prefer-ip-address: true # 컨테이너 기반 배포면 임의의 호스트이름이 부여되므로 true이용해 ip주소로 등록해 찾도록
    client:
      register-with-eureka: true
      fetch-registry: true
      serviceUrl:
        defaultZone: http://localhost:8761/eureka/

server:
  port: 8091

management:
  endpoints:
    web:
      exposure:
        include: "*"

external-api:
  member:
    url: http://localhost:8090/api/member
#  member:
#    url: http://member-api:8090/api/member
#  store:
#    url: http://localhost:8091/api/store
#  store:
#    url: http://store-api:8091/api/store
  order:
    url: http://localhost:8092/api/order
#  order:
#    url: http://order-api:8092/api/order
